<footer>
  <h2>This is the site footer.</h2>
  <p><a href="https://creativecommons.org/licenses/by-nc/4.0/"><img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc.png" alt="Creative Commons License" width="88"></a> <a href="/feed.xml"><img src="https://validator.w3.org/feed/images/valid-rss-rogers.png" alt="Valid RSS feed"></a></p>
  <p><em>Last updated December, 2025.</em></p>
  <p>Mail to: <code>erin</code> at <code>erinrwhite.com</code></p>
  <nav class="a11y-webring-club" aria-labelledby="a11y-webring-club">
    <h2 id="a11y-webring-club">a11y-webring.club</h2>
    <p>This site is a member of the <a rel="external" href="https://a11y-webring.club/">a11y-webring.club</a>.</p>
    <ul>
      <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/prev">Previous website</a></li>
      <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/random">Random website</a></li>
      <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/next">Next website</a></li>
    </ul>
  </nav>
</footer>
<!-- SimpleAnalytics with some added info -->
<script type="text/javascript">
const analyticsURL = "https://queue.simpleanalyticscdn.com/noscript.gif";
const refURL = document.referrer;
const hostName = encodeURI(window.location.hostname);
const pathName = encodeURI(window.location.pathname);
const imageTag = document.createElement("img");
imageTag.setAttribute("alt","");
imageTag.setAttribute("referrerpolicy","no-referrer-when-downgrade");
imageTag.setAttribute("src",analyticsURL+"?hostname="+hostName+"&path="+pathName+"&referrer="+refURL);
document.body.appendChild(imageTag);
</script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade"/></noscript>