<footer>
  <h2>This is the site footer.</h2>
  <p><a href="https://creativecommons.org/licenses/by-nc/4.0/"><img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc.png" alt="Creative Commons License" width="88"></a> <a href="/feed.xml"><img src="https://validator.w3.org/feed/images/valid-rss-rogers.png" alt="Valid RSS feed"></a></p>
  <p><em>Last updated May, 2025.</em></p>
  <p>Mail to: <code>erin</code> at <code>erinrwhite.com</code></p>
  <nav class="a11y-webring-club" aria-labelledby="a11y-webring-club">
    <h2 id="a11y-webring-club">a11y-webring.club</h2>
    <p>This site is a member of the <a rel="external" href="https://a11y-webring.club/">a11y-webring.club</a>.</p>
    <ul>
      <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/prev">Previous website</a></li>
      <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/random">Random website</a></li>
      <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/next">Next website</a></li>
    </ul>
  </nav>
</footer>